<div>
  <button mat-button>Mat Button</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-Raised-button>Mat Raised Button</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-flat-button>Mat Flat Button</button>
  <button mat-stroked-button>Mat Stroked Button</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<div>
  <button mat-icon-button>Icon</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-fab>fab</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-mini-fab>mini fab</button>
</div>
<div>
  <button color="primary" mat-button>Primary</button>&nbsp;&nbsp;&nbsp;
  <button color="accent" mat-button>Accent</button>&nbsp;&nbsp;&nbsp;
  <button color="warn" disableRipple mat-button>Warn + disableRipple</button>&nbsp;&nbsp;&nbsp;
  <button color="primary" mat-raised-button>Primary</button>&nbsp;&nbsp;&nbsp;
  <button color="accent" mat-raised-button>Accent</button>&nbsp;&nbsp;&nbsp;
  <button color="warn" mat-raised-button>Warn</button>&nbsp;&nbsp;&nbsp;
</div>
<div>
  <mat-button-toggle #toggleBtn>This one can be Toggled on and off + IS IT TOGGLED?</mat-button-toggle>
  {{ toggleBtn.checked }} <br>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>

<hr>
<h2>Material Maticon</h2>
<hr>
<div>
  <mat-icon color="primary">note_add</mat-icon>
  <mat-icon>trending_up</mat-icon>
  <mat-icon>credit_card</mat-icon>
  <mat-icon>history</mat-icon>
  <mat-icon>verified_user</mat-icon>
  <mat-icon>analytics</mat-icon>
  <mat-icon>fingerprint</mat-icon>
</div>

<hr>
<h2>Notifications with material Badges</h2>
<hr>

<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0">Notifications</span>
  <p>Hidden Badge</p>
</div><br>
<div>
  <span [matBadge]="notifications" matBadgePosition="below before">Notifications matBadgePosition="below before"</span>
</div><br>
<div>
  <span [matBadge]="notifications" matBadgePosition="below after">Notifications</span>
</div><br>
<div>
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div><br>
<div>
  <span matBadge="5" matBadgeSize="small">Notifications</span>
</div><br>
<div>
  <span matBadge="5" matBadgeSize="medium">Notifications matBadgeSize="medium"</span>
</div><br>
<div>
  <span matBadge="5" matBadgeSize="large">Notifications</span>
</div><br>
<div>
  <span matBadge="5" matBadgeColor="primary">Notifications matBadgeColor="primary"</span>
</div><br>
<div>
  <span matBadge="5" matBadgeColor="accent">Notifications matBadgeColor="accent"</span>
</div><br>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications - matBadgeOverlap="false"</span>
</div><br>

<div class="matSpinnerClass">
  <hr>
  <h2>Mat Spinner</h2>
  <hr>

  <mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
  <button mat-flat-button color="primary" (click)="loadData()">Load Spinner</button>
</div>

<div>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
  <h1>------------------------------</h1>
</div>