<button mat-button>Hello world Standard</button><br /><br />
<button mat-Raised-button>Hello world Raised</button><br />
<br />
<!-- class n°4 - Typography -->
<hr>
<h1>Typography</h1>
<hr>
<div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div>

<hr>
<h1>Typography Exemplo 2</h1>

<main class="content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        User Card
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-form-field>
        <mat-label>Select Access</mat-label>
        <mat-select>
          <mat-option [value]="0">Admin</mat-option>
          <mat-option [value]="1">Collaborator</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</main>